div {
  -webkit-transform: skew(30deg, 30deg) scale(0.7, 1);
  -moz-transform: skew(30deg, 30deg) scale(0.7, 1);
  -ms-transform: skew(30deg, 30deg) scale(0.7, 1);

  background-color: red;
  width: 250px;
  height: 250px;
  margin: 70px;
}
