* {
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 10px;
}

.Container {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
}

.in {
  background-color: blue;
  width: 1in;
  height: 1in;
  margin-right: 40px;
}

.cm {
  background-color: blue;
  width: 1cm;
  height: 1cm;
  margin-right: 40px;
}

.mm {
  background-color: blue;
  width: 1mm;
  height: 1mm;
  margin-right: 40px;
}

.pc {
  background-color: blue;
  width: 1pc;
  height: 1pc;
  margin-right: 40px;
}

.pt {
  background-color: blue;
  width: 1pt;
  height: 1pt;
  margin-right: 40px;
}

.px {
  background-color: blue;
  width: 1px;
  height: 1px;
  margin-right: 40px;
}
