* {
  padding: 0px;
  margin: 0px;
}

a {
  display: flex;
  width: 200px;
  font-size: 20px;
  font-weight: bolder;
  padding: 40px;
  margin: 20px;
  color: white;
  background-color: teal;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: blue 5px solid;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: crosshair;
}

a:hover {
  color: blue;
  border: white 5px solid;
  border-radius: 10px;
}

a:visited {
  background-color: red;
}

a:active {
  background-color: yellow;
}
