<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curriculum Tiago</title>
  </head>

  <body>
    <!-- Dados pessoais -->
    <h1>Tiago José dos Santos</h1>
    <p>
      <strong>Cidade: </strong>Osasco <br />
      <strong>Git: </strong
      ><a href="https://github.com/Elkabonga" target="_blank"
        >https://github.com/Elkabonga</a
      ><br />
      <strong>Expo: </strong>
      <a href="https://expo.io/@elkabonga" target="_blank">
        https://expo.io/@elkabonga</a
      ><br />
      <strong>Codesandbox: </strong>
      <a href="https://codesandbox.io/u/Elkabonga/sandboxes" target="_blank"
        >https://codesandbox.io/u/Elkabonga/sandboxes</a
      >
    </p>
    <hr />
    <!-- Objetivo -->
    <h2>OBJETIVO</h2>
    <p>Desenvolvedor Fullstack</p>
    <!-- Formação -->
    <h2>FORMAÇÃO</h2>
    <p>
      <strong>2º Grau Completo</strong> - EE Prof Manoel da Conceição Santos
    </p>
    <!-- Experiência -->
    <h2>EXPERIÊNCIA PROFISSIONAL</h2>

    <p>
      <img src="/assets/images/opah.jpg" alt="" width="100" /><br />
      <strong
        >2021 à atual – Opah it Consulting Desenvolvimento de Sistemas
        LTDA</strong
      ><br />
      <strong>Cargo:</strong> Desenvolvedor React Jr.<br />
      <strong>Principais atividades:</strong> Desenvolvimento Front end em
      ReactJs<br /><br />
      <img src="../../../assets/images/inmetrics.jpg" alt="" width="100" /><br />
      <strong>2019-2020 – Inmetrics S.A.</strong> <br />
      <strong>Cargo:</strong> Desenvolvedor Jr. de Software de Automação e
      Testes.<br />
      <strong>Principais atividades:</strong> Responsável pela qualidade nos
      testes tanto manuais quanto Automatizados e também nas correções de
      pequenos bugs<br /><br />
      <img src="../../../assets/images/fastshop.jpg" alt="" width="100" /><br />
      <strong>2011-2018 – FAST SHOP COMERCIAL S.A.</strong> <br />
      <strong>Cargo:</strong> Analista de Roadshow.<br />
      <strong>Principais atividades:</strong> Análise e efetuação dos roteiros
      de entrega das vendas (nível Brasil) usando o software Roadshow, análise
      de custo/perda e otimização dos mesmos, análise do faturamento da empresa.
      <br /><br />
      <img src="../../../assets/images/mlgomes.jpg" alt="" width="100" /><br />
      <strong>2010-2010 – ML Gomes.</strong><br />
      <strong>Cargo:</strong> Operador de Cobrança<br />
      <strong>Principais atividades:</strong> Negociar e fazer acordos com
      clientes com debito em aberto. <br /><br />
      <img src="../../../assets/images/orion.jpg" alt="" width="100" /><br />
      <strong>2007-2007 – ORION S.A.</strong><br />
      <strong>Cargo:</strong> Operador de Produção.<br />
      <strong>Principais atividades:</strong> Manuseio de maquinas Industriais.
      <br /><br />
      <img src="../../../assets/images/cec.jpg" alt="" width="100" /><br />
      <strong>2007-2007 – C&C CASA e CONSTRUÇÃO Ltda.</strong><br />
      <strong>Cargo:</strong> Vendedor.<br />
      <strong>Principais atividades:</strong> Atendimento ao cliente.
      <br /><br />
      <strong>2006-2007 – RIGONAN PÃES E DOCES Ltda.</strong><br />
      <strong>Cargo:</strong> Balconista.<br />
      <strong>Principais atividades:</strong> Atendimento ao cliente.
      <br /><br />
      <strong>2004-2005 – ENGEPLOT ENGENHARIA E SERVIÇOS S/C Ltda.</strong
      ><br />
      <strong>Cargo:</strong> Office-Boy.<br />
      <strong>Principais atividades:</strong> Serviços aux. num escritório de
      engenharia.
    </p>

    <!-- CURSOS / CERTIFICADOS -->
    <h2>CURSOS / CERTIFICADOS</h2>

    <strong>React Native</strong><br />
    <strong>Órgão emissor:</strong> Udemy<br />
    <strong>Emitido:</strong> 25 de junho de 2020 <br />
    <br />
    <strong>Scrum Foundation Professional Certificate</strong><br />
    <strong>Órgão emissor:</strong> CertiProf®<br />
    <strong>Emitido:</strong> 23 de junho de 2020 <br />
    <br />
    <strong>Javascript</strong><br />
    <strong>Órgão emissor:</strong> Udemy<br />
    <strong>Emitido:</strong> 28 de maio de 2020 <br />
    <br />
    <strong>React Native</strong><br />
    <strong>Órgão emissor:</strong> Udemy<br />
    <strong>Emitido:</strong> 04 de fevereiro de 2020 <br />
    <br />
    <strong>Gestão Ágil com Scrum</strong><br />
    <strong>Órgão emissor:</strong> Udemy<br />
    <strong>Emitido:</strong> 26 de janeiro de 2020 <br />
    <br />
    <strong>Programação no Jump Start de C#</strong><br />
    <strong>Órgão emissor:</strong> Microsoft Virtual Academy<br />
    <strong>Emitido:</strong> 28 de março de 2019 <br />
    <br />
    <strong>Introdução ao ASP.NET Core 1.0</strong><br />
    <strong>Órgão emissor:</strong> Microsoft Virtual Academy
    <br />
    <strong>Emitido:</strong> 28 de março de 2019 <br />
    <br />
    <strong>Conceitos básicos de bancos de dados</strong><br />
    <strong>Órgão emissor:</strong> Microsoft Virtual Academy
    <br />
    <strong>Emitido:</strong> 20 de março de 2019 <br />
    <br />
    <strong>Introdução ao SQL Server 2012</strong><br />
    <strong>Órgão emissor:</strong> Microsoft Virtual Academy
    <br />
    <strong>Emitido:</strong> 20 de março de 2019 <br />
    <br />
    <strong>Conceitos básicos de C# JSON com C#</strong><br />
    <strong>Órgão emissor:</strong> Microsoft Virtual Academy
    <br />
    <strong>Emitido:</strong> 19 de março de 2019 <br />
    <br />
    <strong>JSON com C#</strong><br />
    <strong>Órgão emissor:</strong> Microsoft Virtual Academy
    <br />
    <strong>Emitido:</strong> 19 de março de 2019 <br />
    <br />

    <h2>QUALIFICAÇÕES</h2>
    <strong>Trello ou Jira</strong> - Gestão de atividades.<br />
    <strong>Excel Avançado</strong> - Tabela Dinamica, Uso de Formulas e
    análises de banco de dados.<br />
    <strong>VBA e Macros</strong> - Intermediário.<br />
    Experiência com serviços de um escritório administrativo de logística.

    <!-- Idiomas -->
    <h2>IDIOMAS</h2>
    <strong>Inglês:</strong> Intermediário.
  </body>
</html>
