<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>01CartaodeVisita</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="card">
      <h1>Tiago Santos</h1>
      <ul>
        <a href="https://www.instagram.com/el_kabonga/" target="_blank">
          <li class="instagram">/elkabonga</li>
        </a>
        <a href="https://twitter.com/familiapeople" target="_blank">
          <li class="twitter">/elkabonga</li>
        </a>
        <a
          href="https://www.youtube.com/channel/UC1tt3HCVrEjaCGLcaYyIqqA"
          target="_blank"
        >
          <li class="youtube">/elkabonga</li>
        </a>
      </ul>
    </div>
  </body>
</html>
