.container {
  display: flex;

  background-color: gray;
  height: 400px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.r1 {
  order: 1;
  background-color: red;
}

.r2 {
  order: 0;
  background-color: blue;
}

.r3 {
  order: -1;
  background-color: green;
}

.react {
  width: 100px;
  height: 100px;
}
