img{
  width: 200px;
  margin-bottom: 20px;
}

div {
  display: flex;
  width: 150px;
  padding: 10px;
  font-size: 24px;
  background-color: cornflowerblue;
  color:aliceblue;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}